ENV{ACTION}=="add", ENV{SUBSYSTEM}=="block", ENV{DEVTYPE}=="partition", RUN="/home/pi/sdcard_burner/src_updated"
ENV{ACTION}=="remove", ENV{SUBSYSTEM}=="block", ENV{DEVTYPE}=="partition", RUN="/home/pi/sdcard_burner/src_updated"
